POLYGON_WALLET_PRIVATE_KEY=""
POLYMARKET_SIGNATURE_TYPE="0"
POLYMARKET_FUNDER_ADDRESS=""
OPENAI_API_KEY=""
TAVILY_API_KEY=""
NEWSAPI_API_KEY=""
OPENAI_MODEL="gpt-5-mini"
OPENAI_LOG="info"
OPENAI_TEMPERATURE=""
APP_LOG_LEVEL="INFO"
ALLOW_RESTRICTED_EVENTS="false"
EXECUTE_TRADES="false"
POLYGON_RPC_URL="POLYGON_RPC_URL="https://polygon-mainnet.g.alchemy.com/v2/<API_KEY>"
POLYGON_COLLATERAL_USDC_ADDRESS="0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174"
POLYGON_NATIVE_USDC_ADDRESS="0x3c499c542cef5e3811e1192ce70d8cc03d5c3359"
USDC_BALANCE_TOKEN_ADDRESSES=""
TRADE_CANDIDATE_COUNT="5"
TRADE_DIVERSITY_MODE="soft_quota"
TRADE_DIVERSITY_MIN_CATEGORIES="3"
TRADE_MAX_MARKETS_TO_SCORE="20"
TRADE_TOTAL_BUDGET_FRACTION="0.30"
TRADE_MAX_PER_MARKET_FRACTION="0.10"
TRADE_MIN_PER_MARKET_FRACTION="0.02"
TRADE_CONTINUE_ON_EXECUTION_ERROR="true"
TRADE_LOG_RATIONALE="true"
TRADE_INCLUDE_NEWS="false"
TRADE_NEWS_LIMIT="5"
TRADE_NEWS_DAYS="7"
TRADE_NEWS_RELEVANCE="true"
TRADE_NEWS_CONTEXT_ARTICLE_CAP="3"
TRADE_EXCLUDE_SPORTS="false"
TRADE_MIN_ORDER_AMOUNT_USDC="1.0"
TRADE_MIN_MARKET_VOLUME="10000"
TRADE_MIN_MARKET_LIQUIDITY="5000"
TRADE_MIN_ENTRY_PRICE="0.03"
TRADE_MAX_ENTRY_PRICE="0.97"
GAMMA_MARKET_FETCH_CONCURRENCY="24"
GAMMA_HTTP_MAX_CONNECTIONS="100"
GAMMA_HTTP_MAX_KEEPALIVE_CONNECTIONS="40"
GAMMA_HTTP_TIMEOUT_SECONDS="8"
GAMMA_LOG_MARKET_DETAIL_URL="false"
# Continuous mode
CONTINUOUS_INTERVAL_SECONDS="30"
CONTINUOUS_SESSION_BUDGET="100"
CONTINUOUS_COOLDOWN_SECONDS="300"
CONTINUOUS_VOLATILITY_THRESHOLD="0.05"
# Crypto mode
CRYPTO_INTERVAL_SECONDS="30"
CRYPTO_SESSION_BUDGET="100"
CRYPTO_SYMBOLS="BTC,ETH,SOL,XRP"
CRYPTO_MIN_EDGE="0.05"
# BTC arbitrage
ARB_SESSION_BUDGET="50"
ARB_MAX_PER_TRADE="5"
ARB_MIN_EDGE="0.10"
ARB_PRICE_FEED_TOLERANCE="0.001"
# Sports WebSocket
SPORTS_WS_FREEZE_TIMEOUT_SECONDS="300"
SPORTS_WS_LOG_LEVEL="changes"
SPORTS_WS_ENDED_GAME_TTL_MINUTES="60"
# External sports data APIs
SPORTS_DATA_API_KEY=""
SPORTS_ODDS_API_KEY=""
SPORTS_REQUIRE_STATS="nfl,nba,mlb,nhl"
SPORTS_STATS_CACHE_TTL_SECONDS="86400"
SPORTS_ODDS_CACHE_TTL_SECONDS="300"
SPORTS_ODDS_DIVERGENCE_THRESHOLD="0.05"
SPORTS_SLUG_REFRESH_INTERVAL_SECONDS="1800"
SPORTS_SLUG_RETRY_QUEUE_SIZE="100"
# Budget coordination
SPORTS_BUDGET_FRACTION="0.30"
SPORTS_MIN_WALLET_USD="50.0"
SPORTS_CAP_NFL="0.4"
SPORTS_CAP_NBA="0.3"
SPORTS_CAP_MLB="0.15"
SPORTS_CAP_NHL="0.15"
SPORTS_BUDGET_LOCK_TIMEOUT_SECONDS="5"
SPORTS_BUDGET_LOCK_PATH="/tmp/polyagents_budget.lock"
SPORTS_BUDGET_FILE_PATH="/tmp/polyagents_budget.json"
SPORTS_INITIAL_WALLET_USD="1000.0"
SPORTS_PREGAME_CACHE_TTL_MINUTES="30"
SPORTS_MIN_CONFIDENCE_GAP="0.10"
SPORTS_PREGAME_CACHE_PATH="/tmp/polyagents_pregame_cache.json"
